.input-group {
    width: 300px;
    border-left: 0;
    border-right: 0;
    background-color: rgba(67, 64, 64, 0.9);
    border: none;
    outline: none;
    color: white;

}

.input-margin {
    margin-left: 3rem;

}

.input-serch-icon {
    border-right: 0;
    background-color: rgba(67, 64, 64, 0.9);
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    border: none;
}

.input-arrow-icon {
    border-left: 0;
    background-color: rgba(67, 64, 64, 0.9);
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border: none;
}

/* .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.bg-light {
    background-color: transparent !important;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;

}

.bg-light ul li a {
    color: white !important;
    margin-right: 2rem;
}

.toggler {
    display: none;
}

.xuvMahindra700 {
    font-family: 'Allerta Stencil';
    font-style: normal;
    font-weight: 400;
    font-size: 260px;
    line-height: 383px;
    color: #55C2FF;
    opacity: 0.46;
}


.xuvMahindraimg {
    background: url(https://s3-alpha-sig.figma.com/img/e4e0/386c/c3a6bec1065a95b2d9677691ac016897?Expires=1685318400&Signature=DZ2nH95AJTMR-MA7bCDXvpqwnMYgAYcO9cNro-BbZzDhrpMFKJ-IFOqiFSRrkXp2KWDUlVj2PGrpCHaAbj6NLptQdCSe9BqdmH-HDLkyi1a6-ti~5OXPxNwRHdEtBrieJAcZ-RdOe4wg35uZlg2-UCH4u12-eWLw3cMGfILwyFBDF0fTWO44oUpHSADhYXODy5fnUvpdjNqXHXGdbfE1dgBNKVEAc8dlJquWGfdVpKlr9Z8mhf-KzJ6GSWuhoO87POiQInI7emzgI-x3yUl8bv19uJj~BXAvh21GOVW35g-x1FpdoxYfbqVJfBikmwmE3YbKB-pKZUpr99FPb4Unrg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    transform: translateY(-11rem);

}

.xuvMahindrapara {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: white;
}

/* ________________________________________offsers Section_________________________________________ */
.mahindraXvustars i {
    color: #FFAC30 !important;
    margin-top: 3px;
    margin-bottom: 3px;
}

.mahindraXvustars p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #55C2FF;
    margin-top: 4px;
}

.mahindraXvuOffsers i {
    font-size: 2rem;
    color: white;
}

.mahindraXvuOffsers h2,
h3,
.mahindra700Price h2,
h3 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 4rem;
    color: #FFFFFF;
    text-transform: uppercase;
}

.mahindraEngine p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #55C2FF;
    margin-top: 4px;
    margin-bottom: 2px;
}

.mahindraEngine span {
    color: white;
}

.mahindraXvuOffsers p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 146.5%;
    color: #FFFFFF;
}

.mahindraXvuCarsprice p a {
    display: block;
    margin-top: 2rem;
    background-color: #FFAC30;
    border-radius: 1rem;
    padding: 1rem;
    color: #000000;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
}

.mahindra700Price {
    background-image: url(https://s3-alpha-sig.figma.com/img/f007/5278/532a52a3b45aef9da47724c1f3c7e9d9?Expires=1685318400&Signature=IqikIMyZJfdSJ1~xD5-894~253-gKWnYLXwKttmGFV6IR3JgSTs4COMHJO2rDik3Zng0KNM1JhiMJkD4yOWoj5-WQyPvtUp~Bcwo7zinzOgCHZA4UJF~SEaNzwQvSNeFmzzqZ98BFMRaOJy8VAoeQML5RKz-3RxYckG4rMZd5MHw5-mYQV4TacXYmG3eLTqD6C82bj5x9A3UjirI9~EcZb22QB~~0GinyWBuRmSvbIGfkYYhxBxhjTrAkXKSYDKVzngHWIasglK8EegT19-BeyvLLteWPyYdpl1eGxKfLB~RaES2f2WEXHWj-ewuZJbmyE76dIxCgeiJnyTSsUCTsw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    width: 100vw;
    height: 70vh;
    padding: 3rem;
    z-index: 5555;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.mahindra700Price p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    font-weight: 400;
    line-height: 146.5%;
    color: rgb(255, 255, 255, .6);
}

.mahindraVarients .bg-light ul li a {
    margin-right: 3rem;
}

.bg-dark {
    background-color: black !important;
}

td,
tr,
th {
    border-color: black !important;
}

.mahindra700AvargeIntro tr td p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color: rgb(255, 255, 255, .6);
}
.mahindra700AvargeIntro h6{
    margin-bottom: 0;
    color : white;
}
.mahindra700AvargeIntro span{
    color: rgb(255, 172, 48, .2);
}

/* ------------------------------------------------------------------------------------------------ */

@media all and (min-width : 778px) {
    .xuvMahindrapara {
        transform: translateY(-9rem);

    }

    .mahindraXvuCarsprice {
        display: flex;
        flex-direction: row;
        transform: translateX(-15rem);
    }

    .mahindraXvuCarsprice p {
        flex-basis: 23rem;
        margin-left: 5rem;

    }
}



@media all and (max-width : 778px) {
    .flex {
        flex-direction: column;
    }

    .input-serch-icon {
        margin-right: -5px;
        margin-left: 0;
    }

    .input-margin {
        margin-left: 0;
        margin-top: 1rem;
    }

    .input-group {
        width: 100%;
        margin: 0;
    }

    .toggler {
        display: block;
    }

    .xuvMahindra700 {
        font-size: 60px;
        text-align: center;
    }

    .xuvMahindraimg {
        width: 100%;
        height: 22rem;
        transform: translateY(0rem);
    }

    .mahindraXvuCarsprice {
        margin-top: 2rem;
    }

    .mahindraXvuCarsprice img,
    p {
        width: 100%;
        text-align: center;
    }

    .mahindra700Price img {
        width: 100%;
        /* height: 30vh;; */
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

}